<ng-container *ngIf="_common.showDownloadModal">
    <div class="minimize-tray shadow p-3" style="z-index: 999;" ngDraggable [bounds]="document.body" [inBounds]="true">
        <div class="mb-2">
            <div class="d-flex justify-content-between align-items-center">
                <h6 class="nunito mb-1">Download</h6>
                <button class="btn-close" (click)="_common.showDownloadModal = false" *ngIf="_common.downloadComplete"></button>
            </div>
            <div>
                <p class="downloaddetails mb-1 mplus">{{_common.downloadedData | filesize}} / {{_common.totalDownloadFileSize | filesize}}</p>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="_common.downloadProgress + '%'">
                    {{ _common.downloadProgress + "%" }}
                </div>
            </div>
        </div>
    </div>
</ng-container>
