.minimize-tray {
    position: fixed;
    // top: 50px;
    // left: 20px;
    top: 10%;
        left: 45%;
    z-index: 1000;
    min-width: 270px;
    height: auto;
    background-color: #fff;
    h6 {
        font-size: 14px;
        font-weight: 600;
    }
    .progress {
        height: 11px;
    }
    .maximize {
        margin-top: 10px;
        button {
            font-size: 11px;
            padding: 2px 20px !important;
        }
    }
    .downloaddetails {
        font-size: 11px;
    }
}

.btn-close {
    font-size: 12px;
    position: relative;
    top: -5px;
    margin-left: 16px;
}
