<div class="content-left-wrapper">
    <div class="content text-center">
        <div class="company-image"><img src="assets/images/auth/info_graphic_2.svg" alt="" class="img-fluid"></div>
        <h2>Welcome To ARDocuExpert</h2>
        <p>Do you spend a lot of time reading, processing and reviewing technical records? Do you do most of these tasks manually? A one-stop-shop for all your needs in processing and reviewing technical records.</p>
        <!-- <a href="https://statvalu.com/" class="btn_1 rounded" target="_blank">Learn more about DocuExpert</a> -->
        <div class="copy">© 2022 ARDocuExpert</div>
    </div>
</div>
