<!-- <div class="w-100 chart-container position-relative overflow-auto">
    <div class="stick position-absolute cp" [style.left.px]="10+50" [style.top.px]="52" [style.width.px]="240-10">
        <div class="position-relative h-100 median-container">
            <div class="median position-absolute"></div>
            <div class="median-circle position-absolute"></div>
        </div>
    </div>

    <div class="label-y position-absolute" style="left: 0;" *ngFor="let dd of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16];let i=index" [style.top.px]="40+i*80">
        <p>8254</p>
    </div>

    <div class="label-x d-flex position-relative" style="left: 50px;">
        <span class="position-absolute" *ngFor="let dd of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16];let i=index" [style.left.px]="i*80" style="top: 0;bottom: 0;">{{i*80}}</span>
    </div>
</div> -->


<div id='myDiv' class="shadow"><!-- Plotly chart will be drawn inside this DIV --></div>